@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/montserrat/Montserrat-Hairline.otf');
  font-weight: 100;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/montserrat/Montserrat-Light.otf');
  font-weight: 200;
}

@font-face {
  font-family: 'DancingScriptOT';
  src: url('./fonts/dancing-script-ot/DancingScript-Regular.otf');
}

body {
  color: #555555;
  font-family: 'Montserrat';
  font-weight: 200;
  font-size: 15px;
}
textarea, input {
  font-family: 'droid sans mono', monospace, 'courier new', courier, sans-serif;
  font-size: 17px;
  border: 1px solid #DDDDDD;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  resize: none;
}
.CodeMirror {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
}
input {
  text-align: center;
}
.banner {
  font-weight: 100;
  font-size: 60px;
  text-align: center;
  color: black;
  z-index: 10;
}
.banner > iframe {
  position: absolute;
  left: 10px;
  top: 10px;
}
.banner .subTitle {
  font-family: DancingScriptOT;
  font-weight: bold;
  font-size: 26px;
  color: orange;
}
.ff-tabbar.selectedItemOverlay {
  border-bottom: 3px solid orange;
}
.ff-tabbar.item > div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.ff-tabbar.item.selected {
  color: orange;
  font-weight: bold;
}
.setting.text {
  text-align: right;
}

.constraints, .log, .raw {
  overflow: scroll;
  font-size: 17px;
}
.log {
  padding: 5px;
}

.va {
  /* align vertical */
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.subView {
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  /*background-color: #CCCCCC; set from code */
  text-align: center;
}
.subView.round {
  border-radius: 50%;
}
