.cm-s-vfl span.cm-def {color: #D8D8D8;}
.cm-s-vfl span.cm-meta {color: #a71d5d;}
.cm-s-vfl span.cm-number {color: #0086b3;}
.cm-s-vfl span.cm-bracket {color: #193691;}
.cm-s-vfl span.cm-keyword {color: #193691; font-weight: bold;}
.cm-s-vfl span.cm-variable {color: #f09e53;}
.cm-s-vfl span.cm-operator {color: #795da3;}
.cm-s-vfl span.cm-comment {color: #999999;}
